/* Common Styles */

html {
  font-size: 16px;
}

body {
  background-color: var(--white);
}

.red {
  color: var(--red);
}

.red-bg {
  background-color: var(--red);
}

.white {
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
}

.dark {
  color: var(--dark);
}

.dark-bg {
  background-color: var(--dark);
}

.grey {
  color: var(--grey);
}

.grey-bg {
  background-color: var(--grey);
}